body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #64b5f6, #1976d2);
    color: #fff;
}

#app {
    width: 400px;
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 8px 0;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

li.completed {
    background-color: #81c784;
    color: #000;
}

.remove-btn {
    background-color: #f44336;
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Added style for task names in the to-do list */
#todoList li {
    color: #000;
}
